* {
  box-sizing: border-box;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.marquee-wrapper:hover .animate-marquee {
  animation-play-state: paused;
}